<html>
	<body>
		<form method="POST" action="/">
			title:	<input type="text" name="title">
			content:	<input type="text" name="content">
			author:	<input type="text" name="author">
			<input type="submit"  value="Add">
		</form>

		<h1>Posts</h1>
		{% for post in posts %}
		<p>title:{{post.title}}</p>
		<form method="POST" action="./update">
			<input type="hidden" value="{{post.title}}" name="oldtitle">
			<input type="text" value="{{post.title}}" name="newtitle">
			<input type="submit" value="Update">
		</form>
		<form method="POST" action="./delete">
			<input type="hidden" value="{{post.title}}" name="title">
			<input type="submit" value="Delete">
		</form>
		<p>content:{{post.content}}|author:{{post.author}}</p>
		{% endfor %}
	</body>
</html>
